:root {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    /* Primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Gradiends */
    --light-slate-blue: hsl(252, 100%, 67%); /* background */
    --light-royal-blue: hsl(241, 81%, 54%); /* background */
    --violet-blue: hsla(256, 72%, 46%, 1); /* circle */
    --persian-blue: hsla(241, 72%, 46%, 0); /* circle */
    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca:wght@300&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--pale-blue);
}

.content__main {
    border-radius: 30px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    text-align: center;
}

.content__main--text {
    font-size: 1.2rem;
    font-weight: 700;
}

.content__main__result {
    background: linear-gradient(var(--light-slate-blue),var(--light-royal-blue));
    color: var(--light-lavender);
    border-radius: 30px;
    width: 50%;
    padding: 2.5rem 1rem;
}

.content__main__result--score {
    border-radius: 50%;
    width: 185px;
    height: 185px;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--violet-blue),var(--persian-blue)); 
}

.content__main__result--score span {
    display: block;
    font-size: 3.4rem;
    margin: 0.4rem 0;
    font-weight: bold;
    color: var(--white);
}

.content__main__result--h1 {
    color: var(--white);
    font-size: 1.65rem;
    margin-bottom: 1rem;
}

.content__main__result--txt {
    margin: auto;
    width: 70%;
}

/* Left site */
.content__main__summary {
    border-radius: 30px;
    width: 50%;
    text-align: left;
    padding: 2.5rem 1rem;
}

.content__main__summary--badge {
    display: grid;
    grid-template-columns: 5% 50% 20%;
    justify-content: space-evenly; 
    padding: 1rem 0;
    margin: 1rem 0;
}

.content__main__summary--badge img {
    width: 125%;
}
.content__main__summary__atr--reaction {
    background-color: hsl(0, 100%, 67%, 0.05);
    border-radius: 15px;
}

.content__main__summary__atr--memory {
    background-color: hsl(39, 100%, 56%, 0.05);
    border-radius: 15px;
}

.content__main__summary__atr--verbal {
    background-color: hsl(166, 100%, 37%, 0.05);
    border-radius: 15px;
}

.content__main__summary__atr--visual {
    background-color: hsl(234, 85%, 45%, 0.05);
    border-radius: 15px;
}