:root {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    /* Primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Gradiends */
    --light-slate-blue: hsl(252, 100%, 67%); /* background */
    --light-royal-blue: hsl(241, 81%, 54%); /* background */
    --violet-blue: hsla(256, 72%, 46%, 1); /* circle */
    --persian-blue: hsla(241, 72%, 46%, 0); /* circle */
    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca:wght@300&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--pale-blue);
}

.content__main {
    border-radius: 25px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.content__main__result {
    border: 1px solid blue;
}

.content__main__summary {
    border: 1px solid green;
}